@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=Noto+Serif:ital,wght@0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none; }

header {
  background-color: rgba(27, 27, 25, 0.644);
  height: 4rem;
  width: 100%; }

.logo {
  height: 61px;
  margin-left: 5px;
  position: fixed;
  display: inline; }

ul {
  font-size: 25px; }

li {
  padding: 1rem; }

.flex-container {
  display: flex;
  justify-content: flex-end; }

a {
  color: white;
  text-decoration: none; }

.informacion_M {
  background: url("/imagenes/prueba-4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center; }

.informacion_M-2 {
  background: url("/imagenes/Mapa_de_Teyvat.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center; }

.titulo_M {
  color: white;
  margin-top: 42px; }

.texto_M {
  padding: 14px;
  width: 867px;
  background-color: rgba(206, 205, 205, 0.849);
  border-radius: 17px; }

.seccion1 {
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
  font-family: 'Crimson Text', serif; }

.seccion2 {
  display: flex;
  justify-content: space-around; }

.regiones {
  height: 14rem;
  margin-top: 4rem; }

.link-video {
  display: flex;
  justify-content: space-around; }

.video {
  margin-top: 2rem;
  height: 8rem;
  border-radius: 100%;
  display: flex;
  display: block; }

.seccion3 {
  display: flex;
  justify-content: space-around; }

.pie {
  background-color: rgba(0, 0, 0, 0.61); }

.titulo__footer {
  display: flex;
  justify-content: space-around; }

.caja__final {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.hoyolab {
  height: 59px; }

.fondo_M {
  background: linear-gradient(0deg, #09a762 0%, #59f1eb 52%, #54a8d2 83%); }

.informacion {
  display: flex;
  flex-direction: column;
  align-items: center; }

.titulo {
  height: 298px;
  width: 764px;
  margin-top: 76px;
  border-radius: 27px;
  animation-duration: 3s; }

.texto {
  color: white;
  padding: 14px;
  width: 867px;
  background-color: rgba(94, 94, 94, 0.692);
  border-radius: 17px;
  font-family: "Crimson Text", serif;
  font-size: 18px; }

.informacion h1 {
  text-align: center; }

.container {
  text-align: center;
  padding: 6px;
  display: grid;
  grid-template-columns: 381px 381px 381px; }

.animacion {
  animation-duration: 3.5s; }

.container img {
  width: 368px;
  border-radius: 23px; }

.personajes {
  text-align: center;
  display: grid;
  grid-template-columns: 168px 168px 168px 168px 168px 168px 168px;
  animation-duration: 2s; }

.personajes img {
  border-radius: 12px; }

.pie {
  background-color: rgba(49, 49, 49, 0.151); }

.titulo__footer {
  display: flex;
  justify-content: space-around; }

.caja__final {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.hoyolab {
  height: 59px; }

.fondo_L {
  background: linear-gradient(0deg, #322908 0%, #f6b73b 52%, #ffe900 100%); }

.yaoyao {
  height: 281px;
  width: 166px; }

.texto_I {
  padding: 14px;
  width: 867px;
  background-color: rgba(202, 200, 200, 0.692);
  border-radius: 17px; }

.ajuste_I {
  height: 207px; }

.fondo_I {
  background: linear-gradient(0deg, #6017b1 9%, #a459f1 59%, #8e54d2 92%); }

.fondo_S {
  background: linear-gradient(0deg, #322908 0%, #85f63b 52%, #4cbd3e 100%); }

.ajustes {
  height: 279px; }

@media (max-width: 1165px) {
  .titulo {
    height: 286px;
    width: 772px;
    margin-top: 76px;
    border-radius: 27px; }
  .texto {
    padding: 15px;
    width: 732px;
    background-color: rgba(214, 209, 209, 0.726);
    border-radius: 17px; }
  .container {
    text-align: center;
    padding: 6px;
    display: grid;
    grid-template-columns: 381px 381px;
    grid-template-rows: 1fr 1fr; }
  .container img {
    width: 368px;
    border-radius: 23px; }
  .personajes {
    text-align: center;
    display: grid;
    grid-template-columns: 168px 168px 168px 168px; } }

@media (max-width: 768px) {
  header {
    background-color: rgba(27, 27, 25, 0.644);
    height: 4rem;
    width: 100%; }
  .logo {
    height: 61px;
    margin-left: 5px;
    position: fixed; }
  .flex-container {
    display: flex;
    justify-content: flex-end; }
  .titulo {
    height: 233px;
    width: 636px;
    margin-top: 76px;
    border-radius: 27px; }
  .texto {
    padding: 15px;
    width: 711px;
    background-color: rgba(214, 209, 209, 0.726);
    border-radius: 17px; }
  .container {
    text-align: center;
    padding: 6px;
    display: grid;
    grid-template-columns: 381px;
    grid-template-rows: 1fr 1fr;
    justify-items: center; }
  .container img {
    width: 460px;
    border-radius: 23px; }
  .personajes {
    text-align: center;
    display: grid;
    grid-template-columns: 168px 168px 168px; }
  .personajes img {
    width: 158px; } }

@media (max-width: 425px) {
  header {
    background-color: rgba(27, 27, 25, 0.644);
    height: 8rem;
    width: 100%;
    display: flex;
    align-items: flex-end; }
  .logo {
    height: 61px;
    margin-left: 5px;
    position: fixed;
    margin-top: -122px; }
  .flex-container {
    display: flex;
    justify-content: flex-end; }
  .titulo {
    height: 181px;
    width: 390px;
    margin-top: 76px;
    border-radius: 27px; }
  .texto {
    padding: 15px;
    width: 389px;
    background-color: rgba(214, 209, 209, 0.726);
    border-radius: 17px; }
  .container {
    text-align: center;
    padding: 6px;
    display: grid;
    grid-template-columns: 381px;
    grid-template-rows: 1fr 1fr;
    justify-items: center; }
  .container img {
    width: 399px;
    border-radius: 23px; }
  .personajes {
    text-align: center;
    display: grid;
    grid-template-columns: 168px 168px; }
  .personajes img {
    width: 142px; } }
