.texto_I{
    padding: 14px;
    width: 867px;
    background-color: rgba(202, 200, 200, 0.692);
    border-radius: 17px;
 }
 .ajuste_I{
    height: 207px;
 }
 .fondo_I{
   background: linear-gradient(0deg, rgba(96,23,177,1) 9%, rgba(164,89,241,1) 59%, rgba(142,84,210,1) 92%);
 }