.texto_I{
    padding: 14px;
    width: 867px;
    background-color: rgba(202, 200, 200, 0.692);
    border-radius: 17px;
 }
 .ajuste_I{
    height: 207px;
 }
 .fondo_I{
    background: linear-gradient(0deg, rgb(71, 53, 92) 0%, rgba(72,9,121,1) 38%, rgba(216,0,255,1) 100%);
 }