.pie-de-pagina{
    background-color:#41464a;
 }
 .titulo__footer{
    display: flex;
    justify-content: space-around;
 }
 .caja__final{
    display: flex;
    justify-content: space-evenly;
     align-items: center
 }
 .hoyolab{
    height: 59px;
 }